.titulo{
    color: rgb(241, 241, 241);
    text-align: center;
    background-color: rgb(107, 103, 101);
}

.imgperfil{
    display: block;
    width: 40%;
    margin: auto;
}

p{
    text-align: justify;
}

body{
    background: url(../imgs/profile/texture.jpg);
    opacity: 80%;
}